* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

$--text-color: #fff;
//header
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  //   align-items: center;
  background-color: #000;
  .menu-link {
    list-style: none;
    display: flex;
    margin: 0;
    // align-items: center;
  }

  //menu item
  .menu__item {
    position: relative;
    a {
      text-decoration: none;
      color: $--text-color;
      font-weight: 400;
      font-size: 1.2rem;
    }
    padding: 0.5rem 1rem;

    //menulink
    .menu__item--more {
      display: none;
    }
  }

  //hover
  .menu__item:hover {
    background-color: #ccc;
    .menu__item--link {
      color: #000;
    }
    .sub-nav {
      display: block;
    }
  }

  //btnsearch
  .header__search {
    // background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $--text-color;
      padding: 0 1.2rem;
    }
  }
  .header__search:hover {
    background-color: #f44336;
  }

  .sub-nav {
    position: absolute;
    top: 2.8rem;
    left: 0;
    background-color: #fff;
    display: none; // color: #fff;
    ul {
      list-style: none;
      li {
        // padding-left: 0;
        padding: 0.3rem 0.2rem;
        min-width: 10rem;
        font-size: 0.7rem;
      }
    }
  }
}
h2.title {
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: 400;
}
p.more {
  text-align: center;
  font-style: italic;
  //   color: #ccc;
}
.tb-wrapper {
  width: 95%;
  max-width: 48rem;
  margin: 0 auto;
  padding: 6rem 0;
}
.tb-btn {
  display: inline-block;
  width: max-content;
  min-width: 4rem;
  padding: 0.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  border-radius: none;
}
.tb-btn:hover {
  background-color: #ccc;
  color: #000;
}

#band {
  .band__top {
    margin-bottom: 4rem;
  }

  .band__desc {
    text-align: justify;
    font-weight: 400;
  }
  //bottom
  .band__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .band__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &--name {
        font-weight: 400;
        padding-bottom: 0.5rem;
      }
      &--img {
        width: 12rem;
        border-radius: 0.2rem;
      }
    }
  }
}

#tour {
  background-color: #000;
  .title {
    color: #fff;
  }
  .more {
    color: #ccc;
  }

  .tour__top {
    ul {
      list-style: none;
      width: 100%;
      background-color: #fff;
      line-height: 1.5rem;
      .tour__month {
        margin: 0;
        padding: 0.6rem;
        border-bottom: 1px solid #ccc;
        .sold-out {
          background-color: #f44336;
          color: #fff;
          padding: 0.2rem;
          margin-left: 0.5rem;
        }
      }
      .tour__month.tour__slot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tour__month--slot {
          background-color: #000;
          border-radius: 50%;
          padding: 0.1rem 0.6rem;
          color: #fff;
        }
      }
    }
  }

  .tour__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    .tour__item {
      //   color: #fff;
      display: flex;
      flex-direction: column;
      width: 32%;
      background-color: #fff;
      &--text {
        display: flex;
        flex-direction: column;
        padding: 1rem 0.6rem;
        .tour__item--date {
          color: #ccc;
          padding: 0.5rem 0;
        }
      }
    }
  }
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .modal-container {
    width: 60%;
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;
    .modal-close {
      width: 3rem;
      height: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transition: 0.2s;
    }
    .modal-close:hover {
      background-color: #f44336;
      cursor: pointer;
    }
    .modal__header {
      background-color: #009688;
      height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      line-height: 2rem;
      color: #fff;
      i {
        padding-right: 1rem;
      }
      p {
        margin: 0;
      }
    }
    .modal__body {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      input {
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
      button {
        border: none;
        background-color: #009688;
        padding: 0.8rem;
        font-size: 1.1rem;
        color: #fff;
        i {
          padding-left: 0.1rem;
        }
        transition: 0.2s;
      }
      button:hover {
        background-color: #ccc;
        color: #000;
      }
    }
    .modal__footer {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      .tb-btn.btn-modal-close {
        background-color: #f44336;
        i {
          padding-left: 0.2rem;
        }
      }
      .tb-btn.btn-modal-close:hover {
        background-color: #ccc;
      }
    }
  }
}
.modal-wrapper.open {
  display: flex;
}

#contact {
  .contact__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
  }
  .contact__left,
  .contact__right {
    width: 50%;
  }

  .contact__left {
    i {
      padding-right: 1rem;
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
  }

  .contact__right {
    .input__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }
    input {
      width: 48%;
      padding: 0.5rem;
      border-radius: none;
    }
    .input__bottom {
      input {
        width: 100%;
      }
    }
  }

  .tb-btn {
    margin-top: 0.6rem;
    float: right;
  }
}

#img {
  img {
    width: 100%;
    filter: grayscale(50%);
  }
}

footer {
  text-align: center;
  color: #333;
  i {
    font-size: 1.5rem;
    padding: 0 0.2rem;
  }
  .footer__c {
    margin-top: 1rem;
    a {
      color: #333;
      text-decoration: underline;
    }
  }
}

//mobile: w < 740px
@media only screen and (max-width: 46.1875em) {
  #band .band__bottom {
    flex-direction: column;
    .band__wrapper {
      width: 60%;
      margin-bottom: 2rem;
    }
    .band__item--img {
      width: 100%;
    }
  }

  #tour .tour__bottom {
    flex-direction: column;
    .tour__item {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  .modal-wrapper .modal-container {
    width: 80%;
  }

  #contact .contact__content {
    flex-direction: column;
    .contact__left {
      width: 100%;
    }
    .contact__right {
      width: 100%;
      .input__top {
        display: block;
        width: 100%;
        input {
          width: 100%;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
//tablet: w > 740px and width < 1024px
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}
