* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
#header .menu-link {
  list-style: none;
  display: flex;
  margin: 0;
}
#header .menu__item {
  position: relative;
  padding: 0.5rem 1rem;
}
#header .menu__item a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}
#header .menu__item .menu__item--more {
  display: none;
}
#header .menu__item:hover {
  background-color: #ccc;
}
#header .menu__item:hover .menu__item--link {
  color: #000;
}
#header .menu__item:hover .sub-nav {
  display: block;
}
#header .header__search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__search i {
  color: #fff;
  padding: 0 1.2rem;
}
#header .header__search:hover {
  background-color: #f44336;
}
#header .sub-nav {
  position: absolute;
  top: 2.8rem;
  left: 0;
  background-color: #fff;
  display: none;
}
#header .sub-nav ul {
  list-style: none;
}
#header .sub-nav ul li {
  padding: 0.3rem 0.2rem;
  min-width: 10rem;
  font-size: 0.7rem;
}

h2.title {
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

p.more {
  text-align: center;
  font-style: italic;
}

.tb-wrapper {
  width: 95%;
  max-width: 48rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.tb-btn {
  display: inline-block;
  width: max-content;
  min-width: 4rem;
  padding: 0.5rem;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  border-radius: none;
}

.tb-btn:hover {
  background-color: #ccc;
  color: #000;
}

#band .band__top {
  margin-bottom: 4rem;
}
#band .band__desc {
  text-align: justify;
  font-weight: 400;
}
#band .band__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#band .band__bottom .band__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#band .band__bottom .band__item--name {
  font-weight: 400;
  padding-bottom: 0.5rem;
}
#band .band__bottom .band__item--img {
  width: 12rem;
  border-radius: 0.2rem;
}

#tour {
  background-color: #000;
}
#tour .title {
  color: #fff;
}
#tour .more {
  color: #ccc;
}
#tour .tour__top ul {
  list-style: none;
  width: 100%;
  background-color: #fff;
  line-height: 1.5rem;
}
#tour .tour__top ul .tour__month {
  margin: 0;
  padding: 0.6rem;
  border-bottom: 1px solid #ccc;
}
#tour .tour__top ul .tour__month .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 0.2rem;
  margin-left: 0.5rem;
}
#tour .tour__top ul .tour__month.tour__slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tour .tour__top ul .tour__month.tour__slot .tour__month--slot {
  background-color: #000;
  border-radius: 50%;
  padding: 0.1rem 0.6rem;
  color: #fff;
}
#tour .tour__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
#tour .tour__bottom .tour__item {
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: #fff;
}
#tour .tour__bottom .tour__item--text {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.6rem;
}
#tour .tour__bottom .tour__item--text .tour__item--date {
  color: #ccc;
  padding: 0.5rem 0;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .modal-container {
  width: 60%;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-wrapper .modal-container .modal-close {
  width: 3rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.2s;
}
.modal-wrapper .modal-container .modal-close:hover {
  background-color: #f44336;
  cursor: pointer;
}
.modal-wrapper .modal-container .modal__header {
  background-color: #009688;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}
.modal-wrapper .modal-container .modal__header i {
  padding-right: 1rem;
}
.modal-wrapper .modal-container .modal__header p {
  margin: 0;
}
.modal-wrapper .modal-container .modal__body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.modal-wrapper .modal-container .modal__body input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.modal-wrapper .modal-container .modal__body button {
  border: none;
  background-color: #009688;
  padding: 0.8rem;
  font-size: 1.1rem;
  color: #fff;
  transition: 0.2s;
}
.modal-wrapper .modal-container .modal__body button i {
  padding-left: 0.1rem;
}
.modal-wrapper .modal-container .modal__body button:hover {
  background-color: #ccc;
  color: #000;
}
.modal-wrapper .modal-container .modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.modal-wrapper .modal-container .modal__footer .tb-btn.btn-modal-close {
  background-color: #f44336;
}
.modal-wrapper .modal-container .modal__footer .tb-btn.btn-modal-close i {
  padding-left: 0.2rem;
}
.modal-wrapper .modal-container .modal__footer .tb-btn.btn-modal-close:hover {
  background-color: #ccc;
}

.modal-wrapper.open {
  display: flex;
}

#contact .contact__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact .contact__left,
#contact .contact__right {
  width: 50%;
}
#contact .contact__left i {
  padding-right: 1rem;
  font-size: 1.2rem;
}
#contact .contact__left p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
#contact .contact__right .input__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#contact .contact__right input {
  width: 48%;
  padding: 0.5rem;
  border-radius: none;
}
#contact .contact__right .input__bottom input {
  width: 100%;
}
#contact .tb-btn {
  margin-top: 0.6rem;
  float: right;
}

#img img {
  width: 100%;
  filter: grayscale(50%);
}

footer {
  text-align: center;
  color: #333;
}
footer i {
  font-size: 1.5rem;
  padding: 0 0.2rem;
}
footer .footer__c {
  margin-top: 1rem;
}
footer .footer__c a {
  color: #333;
  text-decoration: underline;
}

@media only screen and (max-width: 46.1875em) {
  #band .band__bottom {
    flex-direction: column;
  }
  #band .band__bottom .band__wrapper {
    width: 60%;
    margin-bottom: 2rem;
  }
  #band .band__bottom .band__item--img {
    width: 100%;
  }

  #tour .tour__bottom {
    flex-direction: column;
  }
  #tour .tour__bottom .tour__item {
    width: 90%;
    margin-bottom: 2rem;
  }

  .modal-wrapper .modal-container {
    width: 80%;
  }

  #contact .contact__content {
    flex-direction: column;
  }
  #contact .contact__content .contact__left {
    width: 100%;
  }
  #contact .contact__content .contact__right {
    width: 100%;
  }
  #contact .contact__content .contact__right .input__top {
    display: block;
    width: 100%;
  }
  #contact .contact__content .contact__right .input__top input {
    width: 100%;
    margin-top: 0.5rem;
  }
}
@keyframes modalFadeIn {
  from {
    transform: translateY(-20rem);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
